{:deps true

 :nrepl {:port 3333}

 :builds {:app {:target :browser
                :output-dir "resources/public/js"
                :asset-path "/js"

                :modules {:main {:init-fn syntereen.hix/init}}

                :release {:closure-defines {syntereen.hix.config/ENV "prod"}
                          :compiler-options {:optimizations :advanced
                                             :infer-externs :auto}}

                :dev {:closure-defines {syntereen.hix.config/ENV "dev"
                                        re-frame.trace/trace-enabled? true
                                        day8.re-frame.tracing/trace-enabled? true
                                        }}

                :devtools {:http-root   "resources/public"
                           :http-port   3000
                           :preloads    [day8.re-frame-10x.preload]
                           }
                }

          :devcards {:target     :browser
                     :output-dir "resources/public/js/devcards"
                     :asset-path "/js/devcards"

                     :modules {:main {:entries [syntereen.hix.devcards]}}

                     :devtools {:http-port 4001
                                :http-root "resources/public"
                                :http-handler shadow.http.push-state/handle
                                :push-state/index "devcards.html"
                                ;; :before-load sniff.devcards/before-load
                                ;; :preloads [dev.devcards]
                                :after-load syntereen.hix.devcards/main}
                     :dev {:compiler-options {:devcards true}}}

          
          :test {:target :karma
                 :output-to "target/karma.js"
                 :ns-regexp "-test$"    ; default
                 :closure-defines {syntereen.hix.config/ENV "test"}
                 }
          }}

